*~
.cproject*
.project*
guillot_cedric_presentation.aux
guillot_cedric_presentation.log
guillot_cedric_presentation.nav
guillot_cedric_presentation.out
guillot_cedric_presentation.snm
guillot_cedric_presentation.synctex.gz
guillot_cedric_presentation.toc
